.container {
    background-color: black;
    border: rgba(191, 170, 241, 0.959)  solid 3px;

}

.row {
    padding: 10px;
    background-color: white;
    border: rgba(191, 170, 241, 0.959)  solid 2px;

}

.col {
    background-color: blue;
    border: rgba(191, 170, 241, 0.959) solid 1px;
}
.barralateral{
    background-color:rgb(2, 157, 218);
    color: beige; 
    font-size: larger; 
    font-weight: bold ;
}