form {
    color: grey;
    padding: 20px;
    height: auto;
    width: 350px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
    border: 3px silver solid;
    margin-left: 70px;
}

h1 {
    text-align: center;
    font-size: 50px;
    border-radius: 25px;
    padding: 15px;
    margin: 45px;
    height: auto;
    width: 400px;
    color: aliceblue;
    font-family: 'Cherish';
    box-sizing: border-box;
    background: rgb(2, 0, 36);
    background: linear-gradient(352deg, rgba(2, 0, 36, 1) 20%, rgba(9, 62, 121, 1) 55%, rgba(0, 212, 255, 1) 100%);
}

h2 {
    color: whitesmoke;
    font-size: small;
    margin: 15px;
    height: auto;
    width: 500px;
    box-sizing: border-box;
    font-family: 'Lemonada', cursive;
    padding: 15px;
    background-color: blue;
    border-radius: 10px 0px 10px 0px;
    border: 2px ridge darkblue;
}

h3 {
    padding: 5px;
    background-color: rgba(76, 73, 248, 0.856);
    font-size: medium;
    font-weight: lighter;
    margin: 15px;
    height: auto;
    width: 400px;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
    padding: 5px;
    border-radius: 10px 10px 10px 0px;
    border: 3px ridge cornflowerblue;
    box-shadow: 5px 5px 0px 0px rgba(49, 47, 80, 0.59);
}

input,
textarea {
    border: 2px silver solid;
    width: 280px;
}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: left;
    margin-left: 20px;
}

p {
    border: 2px;
    color: white;
    margin-left: 10px;
    font-size: 50px;
}

.boton {
    width: 140px;
}

.contenedor {
    margin: 15px;
    overflow: hidden;
    border: 5px gold solid;
    padding: 10px;
    width: fit-content;
}

.listas {
    float: left;
    border: 5px silver solid;
    margin: 5px;
    height: 170px;
    width: fit-content;
}

.pruebaconclases {
    background-color: gold;
    box-sizing: border-box;
    padding: 0px 15px 0px 15px;
    font-family: 'Ballet', cursive;
    width: fit-content;
    box-shadow: 25px 25px 25px 10px rgba(128, 128, 128, 0.548);
}

#destacado {
    font-weight: bolder;
    color: white;
}

#foto {
    margin-left: 100px;
}